html,
body{
  margin:0;
  padding:0;
  color: blue;
}

body{
  background-image: url("https://lh3.googleusercontent.com/8cJAkwb8-36crLKSGiTppyKS2SZzcCXyJBFFENZYLeOaMw-0DJv_ta3iZjj3A_X7KWlwI5PpGPKaxn1ZPkX4eB3cdnVvhrP4F7sm0o_W8XAxibaFIlK_B_0jVL6A8pSuhB-ZRqFa=w2400");
}

.surv{
  text-align: center;
}

.bar{
  background-color: blue;
  color:white;
  height:57px;
  position:fixed;
  width:100%;
  text-align: center;
  z-index: 1;
}

#title{

  margin:0px;
}

#form{
width:80%;
margin:auto;
border: 1px solid white;
background-color:cyan;
position: relative;
top:50px;
}

div.label{
  display: inline-block;
  text-align:right;
  width:40%;
  padding-right: 10px;
}
.content{
  display: inline-block;
  text-align: left;
  width:50%;
  vertical-align:top;
}

ul li{
  list-style: none;
  padding-bottom: 5px;
}

ul{
  margin:0px;
  padding: 0px;
}

.row{
  padding-bottom: 20px;
}

input[type="radio"],
[type="checkbox"]{
  float:left;
}

input[type="text"],
     [type="email"]{
  width:250px;
  height:20px;
}

#text{
  height:40px;
}

#submit{
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  padding:10px 20px 10px 20px;
  color:white;
  background-color: blue;
  border-radius: 5px;
  border-color: blue;
  margin-bottom: 30px;
}

.progressbar{
  background-color:red;
  height:20px;
  width:0%;
}
